{% extends 'myProject/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    {{ Participants.p_name|as_crispy_field }}
    {{ Participants.email|as_crispy_field }}
    {{ Participants.p_contact|as_crispy_field }}
    {{ Participants.p_date|as_crispy_field }}
    {{ Participants.p_time|as_crispy_field }}
    {{Participants.venue|as_crispy_field }}
    {{ Participants.Event_id|as_crispy_field }}
    <br>
    <input type="submit" class="btn btn-primary">
</form>

{% endblock %}