{% extends 'myProject/base.html' %}
{% block content %}
<table class="table tableable-hover">
<thead>
        <td>Event Name</td>
            <td>Email</td>
            <td>Contact</td>
            <td>Time</td>
            <td>Date</td>
            <td>Venue</td>
            <td>Event</td>
     </thead>

    {% for p in Participants %}
    <tr>
        <td>{{p.p_name}} </td>
        <td>{{p.email}}</td>
        <td>{{p.p_contact}}</td>
        <td>{{p.p_time}}</td>
        <td>{{p.p_date}}</td>
        <td>{{p.venue}}</td>
        <td>{{p.Event_id}}</td>
        <td><a href="{% url 'p_update' p.id %}">Edit</a> |
        <a href="{% url 'p_delete' p.id %}">Delete</a>
    </td>
    </tr>

<!-- WORK TO DO HERE -->

    {% endfor %}
    </table>
{% endblock content%}